In [1]:
import pandas as pd

In [4]:
counties = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv",
                       parse_dates = ["date"])

In [5]:
states = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv",
                    parse_dates = ["date"])

In [6]:
states

            date          state  fips    cases  deaths
0     2020-01-21     Washington    53        1       0
1     2020-01-22     Washington    53        1       0
2     2020-01-23     Washington    53        1       0
3     2020-01-24       Illinois    17        1       0
4     2020-01-24     Washington    53        1       0
...          ...            ...   ...      ...     ...
61937 2023-03-23       Virginia    51  2298300   23782
61938 2023-03-23     Washington    53  1940704   15905
61939 2023-03-23  West Virginia    54   645710    8132
61940 2023-03-23      Wisconsin    55  2014524   16485
61941 2023-03-23        Wyoming    56   185800    2014

[61942 rows x 5 columns]

In [7]:
states.dtypes

date      datetime64[ns]
state             object
fips               int64
cases              int64
deaths             int64
dtype: object

In [8]:
counties

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
2502827 2022-05-13  Sweetwater     Wyoming  56037.0  11088   126.0
2502828 2022-05-13       Teton     Wyoming  56039.0  10074    16.0
2502829 2022-05-13       Uinta     Wyoming  56041.0   5643    39.0
2502830 2022-05-13    Washakie     Wyoming  56043.0   2358    44.0
2502831 2022-05-13      Weston     Wyoming  56045.0   1588    18.0

[2502832 rows x 6 columns]

In [10]:
counties.dtypes

illinois_results = states[
    states["state"] == "Illinois"
]

In [12]:
illinois_results

            date     state  fips    cases  deaths
3     2020-01-24  Illinois    17        1       0
6     2020-01-25  Illinois    17        1       0
10    2020-01-26  Illinois    17        1       0
14    2020-01-27  Illinois    17        1       0
18    2020-01-28  Illinois    17        1       0
...          ...       ...   ...      ...     ...
61677 2023-03-19  Illinois    17  4099400   41573
61733 2023-03-20  Illinois    17  4099448   41573
61789 2023-03-21  Illinois    17  4099448   41573
61845 2023-03-22  Illinois    17  4099448   41573
61901 2023-03-23  Illinois    17  4107931   41618

[1155 rows x 5 columns]

In [17]:
illinois_results["date"] == "January 28, 2020"

3        False
6        False
10       False
14       False
18        True
         ...
61677    False
61733    False
61789    False
61845    False
61901    False
Name: date, Length: 1155, dtype: bool

In [18]:
import bqplot

In [22]:
x_sc = bqplot.DateScale()
y_sc = bqplot.LinearScale()

x_ax = bqplot.Axis(scale = x_sc, label = "Date")
y_ax = bqplot.Axis(scale = y_sc, label = "Cases (cumulative)", orientation = "vertical")

lines = bqplot.Lines(x = illinois_results["date"], y = illinois_results["cases"],
                    scales = {'x': x_sc, 'y': y_sc})

fig = bqplot.Figure(marks = [lines], axes = [x_ax, y_ax])
display(fig)

Figure(axes=[Axis(label='Date', scale=DateScale()), Axis(label='Cases (cumulative)', orientation='vertical', sâ€¦

In [27]:
x_sc = bqplot.DateScale()
y_sc = bqplot.LinearScale()

x_ax = bqplot.Axis(scale = x_sc, label = "Date")
y_ax = bqplot.Axis(scale = y_sc, label = "Cases (cumulative)", orientation = "vertical")

lines = bqplot.Lines(x = illinois_results["date"], y = illinois_results["cases"],
                    scales = {'x': x_sc, 'y': y_sc})

date_selection = bqplot.interacts.FastIntervalSelector(scale = x_sc)

fig = bqplot.Figure(marks = [lines], axes = [x_ax, y_ax], interaction = date_selection)
display(fig)

Figure(axes=[Axis(label='Date', scale=DateScale()), Axis(label='Cases (cumulative)', orientation='vertical', sâ€¦

In [28]:
date_selection.selected

array(['2020-12-24T04:33:49.829', '2021-10-03T04:43:57.158'],
      dtype='datetime64[ms]')

In [47]:
import ipywidgets

In [50]:
label = ipywidgets.Label()
display(label)

Label(value='')

In [60]:
def watch_selection(change):
    selected_range = illinois_results.loc[change['new'][0] : change['new'][1]]
    delta_cases = selected_range["cases"].max() - selected_range["cases"].min()
    label.value = "An increase of %s" % delta_cases
date_selection.unobserve_all()
date_selection.observe(watch_selection, ["selected"])

In [44]:
illinois_results.set_index("date", inplace=True)
illinois_results.loc[date_selection.selected[0] : date_selection.selected[1]]

In [31]:
in_range = ((illinois_results["date"] < date_selection.selected[1])
          & (illinois_results["date"] > date_selection.selected[0]))

In [36]:
illinois_results[in_range]["cases"]

16363     932427
16418     935849
16473     939671
16528     944402
16583     950122
          ...
31661    1629196
31717    1632653
31773    1635964
31829    1635964
31885    1635964
Name: cases, Length: 283, dtype: int64

In [57]:
illinois_results = states[
    states["state"] == "Illinois"
]

In [58]:
illinois_results.set_index("date", inplace=True)

In [59]:
illinois_results

               state  fips    cases  deaths
date
2020-01-24  Illinois    17        1       0
2020-01-25  Illinois    17        1       0
2020-01-26  Illinois    17        1       0
2020-01-27  Illinois    17        1       0
2020-01-28  Illinois    17        1       0
...              ...   ...      ...     ...
2023-03-19  Illinois    17  4099400   41573
2023-03-20  Illinois    17  4099448   41573
2023-03-21  Illinois    17  4099448   41573
2023-03-22  Illinois    17  4099448   41573
2023-03-23  Illinois    17  4107931   41618

[1155 rows x 4 columns]

In [62]:
state_map = bqplot.topo_load("map_data/USStatesMap.json")

In [71]:
cases_by_fips = states.groupby("fips")["cases"].max().to_dict()

In [ ]:
proj = bqplot.AlbersUSA()
color_sc = bqplot.ColorScale(scheme = "BuPu")
color_ax = bqplot.ColorAxis(scale = color_sc)
map_mark = bqplot.Map(map_data = state_map, color = cases_by_fips,
                      scales = {'projection': proj,
                               'color': color_sc}
)
fig = bqplot.Figure(marks = [map_mark], axes = [color_ax])
display(fig)

In [100]:
label2 = ipywidgets.Label()
display(label2)

Label(value='')

In [101]:
def hover_over_state(mark, hover_info):
    label2.value = "%s had %s cases" % (hover_info['data']['name'], hover_info['data']['color'])
map_mark.on_hover(hover_over_state)

In [98]:
bqplot.__version__

'0.12.40'

In [102]:
ipywidgets.VBox([
    label2,
    fig,
])

VBox(children=(Label(value='Kansas had 940815 cases'), Figure(axes=[ColorAxis(scale=ColorScale(scheme='BuPu'))â€¦

In [160]:
x_sc = bqplot.DateScale()
y_sc = bqplot.LinearScale()

x_ax = bqplot.Axis(scale = x_sc, label = "Date")
y_ax = bqplot.Axis(scale = y_sc, label = "Cases (cumulative)", orientation = "vertical")

lines = bqplot.Lines(x = illinois_results.index, y = illinois_results["cases"],
                    scales = {'x': x_sc, 'y': y_sc})

date_selection = bqplot.interacts.FastIntervalSelector(scale = x_sc)

line_fig = bqplot.Figure(marks = [lines], axes = [x_ax, y_ax], interaction = date_selection)

proj = bqplot.AlbersUSA()
color_sc = bqplot.ColorScale(scheme = "BuPu")
color_ax = bqplot.ColorAxis(scale = color_sc)
map_mark = bqplot.Map(map_data = state_map, color = cases_by_fips,
                      scales = {'projection': proj,
                               'color': color_sc}
)
map_fig = bqplot.Figure(marks = [map_mark], axes = [color_ax])

ipywidgets.VBox([
    line_fig,
    map_fig
])

VBox(children=(Figure(axes=[Axis(label='Date', scale=DateScale()), Axis(label='Cases (cumulative)', orientatioâ€¦

In [134]:
line_fig.layout.height = "250px"
map_fig.layout.height = "400px"

In [161]:
states_by_date = states.set_index("date")

In [172]:
def change_date_selection(change):
    max_cases = states_by_date.loc[change['new'][0]:change['new'][1]].groupby("fips")["cases"].max().to_dict()
    print(max_cases)
    map_mark.color = max_cases
date_selection.unobserve_all()
date_selection.observe(change_date_selection, ["selected"])

In [171]:
states_by_date.loc[date_selection.selected[0] : date_selection.selected[1]].groupby("fips")["cases"].max().to_dict()

{1: 1648385,
 2: 308893,
 4: 2451062,
 5: 1008303,
 6: 12169158,
 8: 1771010,
 9: 978456,
 10: 332861,
 11: 178226,
 12: 7542869,
 13: 2984923,
 15: 372408,
 16: 522919,
 17: 4107931,
 18: 2054533,
 19: 907421,
 20: 940815,
 21: 1723443,
 22: 1580709,
 23: 319997,
 24: 1369930,
 25: 2230150,
 26: 3068195,
 27: 1784263,
 28: 993035,
 29: 1794207,
 30: 330875,
 31: 570835,
 32: 892814,
 33: 379689,
 34: 3057442,
 35: 673541,
 36: 6805271,
 37: 3481732,
 38: 288106,
 39: 3415254,
 40: 1295832,
 41: 967156,
 42: 3539135,
 44: 461788,
 45: 1840458,
 46: 280525,
 47: 2459152,
 48: 8447168,
 49: 1093049,
 50: 153198,
 51: 2298300,
 53: 1940704,
 54: 645710,
 55: 2014524,
 56: 185800,
 60: 8321,
 66: 62077,
 69: 13395,
 72: 1139243,
 78: 24838}

In [170]:

map_mark.color

{'fips': {'Alabama': 1,
  'Alaska': 2,
  'American Samoa': 60,
  'Arizona': 4,
  'Arkansas': 5,
  'California': 6,
  'Colorado': 8,
  'Connecticut': 9,
  'Delaware': 10,
  'District of Columbia': 11,
  'Florida': 12,
  'Georgia': 13,
  'Guam': 66,
  'Hawaii': 15,
  'Idaho': 16,
  'Illinois': 17,
  'Indiana': 18,
  'Iowa': 19,
  'Kansas': 20,
  'Kentucky': 21,
  'Louisiana': 22,
  'Maine': 23,
  'Maryland': 24,
  'Massachusetts': 25,
  'Michigan': 26,
  'Minnesota': 27,
  'Mississippi': 28,
  'Missouri': 29,
  'Montana': 30,
  'Nebraska': 31,
  'Nevada': 32,
  'New Hampshire': 33,
  'New Jersey': 34,
  'New Mexico': 35,
  'New York': 36,
  'North Carolina': 37,
  'North Dakota': 38,
  'Northern Mariana Islands': 69,
  'Ohio': 39,
  'Oklahoma': 40,
  'Oregon': 41,
  'Pennsylvania': 42,
  'Puerto Rico': 72,
  'Rhode Island': 44,
  'South Carolina': 45,
  'South Dakota': 46,
  'Tennessee': 47,
  'Texas': 48,
  'Utah': 49,
  'Vermont': 50,
  'Virgin Islands': 78,
  'Virginia': 51,
  'Washington': 53,
  'West Virginia': 54,
  'Wisconsin': 55,
  'Wyoming': 56},
 'cases': {'Alabama': 1648385,
  'Alaska': 308893,
  'American Samoa': 8321,
  'Arizona': 2451062,
  'Arkansas': 1008303,
  'California': 12169158,
  'Colorado': 1771010,
  'Connecticut': 978456,
  'Delaware': 332861,
  'District of Columbia': 178226,
  'Florida': 7542869,
  'Georgia': 2984923,
  'Guam': 62077,
  'Hawaii': 372408,
  'Idaho': 522919,
  'Illinois': 4107931,
  'Indiana': 2054533,
  'Iowa': 907421,
  'Kansas': 940815,
  'Kentucky': 1723443,
  'Louisiana': 1580709,
  'Maine': 319997,
  'Maryland': 1369930,
  'Massachusetts': 2230150,
  'Michigan': 3068195,
  'Minnesota': 1784263,
  'Mississippi': 993035,
  'Missouri': 1794207,
  'Montana': 330875,
  'Nebraska': 570835,
  'Nevada': 892814,
  'New Hampshire': 379689,
  'New Jersey': 3057442,
  'New Mexico': 673541,
  'New York': 6805271,
  'North Carolina': 3481732,
  'North Dakota': 288106,
  'Northern Mariana Islands': 13395,
  'Ohio': 3415254,
  'Oklahoma': 1295832,
  'Oregon': 967156,
  'Pennsylvania': 3539135,
  'Puerto Rico': 1139243,
  'Rhode Island': 461788,
  'South Carolina': 1840458,
  'South Dakota': 280525,
  'Tennessee': 2459152,
  'Texas': 8447168,
  'Utah': 1093049,
  'Vermont': 153198,
  'Virgin Islands': 24838,
  'Virginia': 2298300,
  'Washington': 1940704,
  'West Virginia': 645710,
  'Wisconsin': 2014524,
  'Wyoming': 185800},
 'deaths': {'Alabama': 21631,
  'Alaska': 1438,
  'American Samoa': 34,
  'Arizona': 33190,
  'Arkansas': 13068,
  'California': 104277,
  'Colorado': 14245,
  'Connecticut': 12270,
  'Delaware': 3352,
  'District of Columbia': 1487,
  'Florida': 87141,
  'Georgia': 41055,
  'Guam': 421,
  'Hawaii': 1851,
  'Idaho': 5456,
  'Illinois': 41618,
  'Indiana': 26179,
  'Iowa': 10770,
  'Kansas': 10232,
  'Kentucky': 18348,
  'Louisiana': 18835,
  'Maine': 2981,
  'Maryland': 16672,
  'Massachusetts': 24441,
  'Michigan': 42311,
  'Minnesota': 14964,
  'Mississippi': 13431,
  'Missouri': 23998,
  'Montana': 3701,
  'Nebraska': 5068,
  'Nevada': 12093,
  'New Hampshire': 3018,
  'New Jersey': 36097,
  'New Mexico': 9110,
  'New York': 80138,
  'North Carolina': 29746,
  'North Dakota': 2529,
  'Northern Mariana Islands': 41,
  'Ohio': 42061,
  'Oklahoma': 16549,
  'Oregon': 9451,
  'Pennsylvania': 50701,
  'Puerto Rico': 5848,
  'Rhode Island': 3915,
  'South Carolina': 20192,
  'South Dakota': 3222,
  'Tennessee': 29035,
  'Texas': 94518,
  'Utah': 5316,
  'Vermont': 939,
  'Virgin Islands': 130,
  'Virginia': 23782,
  'Washington': 15905,
  'West Virginia': 8132,
  'Wisconsin': 16485,
  'Wyoming': 2014}}